.page-container-listaPaciente {
    display: flex;
    height: 100vh;
}

.main-content-listaPaciente {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-container-listaPaciente {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-title-listaPaciente {
    font-size: 24px;
    font-family: "inter";
    margin-bottom: 20px;
    color: #333;
}

.search-bar-listaPaciente {
    display: flex;
    margin-bottom: 20px;
}

.input-field-listaPaciente {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    font-family: "inter";
}

.search-button-listaPaciente {
    padding: 10px 20px;
    border: none;
    background-color: #A0C71C;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.search-button-listaPaciente:hover {
    background-color: #8cab19;
}

.table-container-listaPaciente {
    overflow-x: auto;
}

.table-container-listaPaciente table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.table-container-listaPaciente thead {
    background-color: #A0C71C;
    color: white;
}

.table-container-listaPaciente th,
.table-container-listaPaciente td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-family: "inter";
}

.table-container-listaPaciente tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container-listaPaciente tbody tr:hover {
    background-color: #f1f1f1;
}
