.container-cadastroPaciente {
  display: flex;
  height: 100vh;
}

.main-content-cadastroPaciente {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card-cadastroPaciente {
  background: #fff;
  padding: 60px;
  border-radius: 8px;
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title-cadastroPaciente {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "inter";
  font-weight: 600;
  color: #333;
}

.form-grid-cadastroPaciente {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group-cadastroPaciente {
  display: flex;
  flex-direction: column;
}

.form-group-cadastroPaciente label {
  margin-bottom: 6px;
  color: #333;
  font-size: 14px;
  font-family: "inter";
}

.form-group-cadastroPaciente input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "inter";
}

.full-width-cadastroPaciente {
  grid-column: 1 / -1;
}

.submit-btn-cadastroPaciente {
  width: 100%;
  padding: 12px;
  background-color: #A0C71C;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: "inter";
}

.submit-btn-cadastroPaciente:hover {
  background-color: #8fb816;
}
