.cabecalho-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px; 
    background-color: #f8f9fa; 
    font-family: "inter";
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.logo-titulo img {
    width: 48px;
    height: 48px;
}

.titulo {
    font-weight: bold;
    font-family: "inter";
    color: #2c2c2c;
    font-size: 18px;
}

.icones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icones img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icones img:hover {
    transform: scale(1.1);
}

.login-agendamento {
    display: flex;
    align-items: center;
    gap: 12px; 
}

#login {
    background-color: #a7d64b;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: "inter";
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #8cc43c;
}

.login-agendamento p {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-family: "inter";
}

.dropdown-user {
    position: relative;
    display: inline-block;
     z-index: 9998;
}

.user-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index:  9999;
    border-radius: 6px;
    padding: 10px 0;
}

.dropdown-content a,
.dropdown-content button {
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-family: "inter";
    cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: #f2f2f2;
}

.dropdown-user:hover .dropdown-content {
    display: block;
}

@media (max-width: 530px) {
    .icones img{
        display: none;
    }
}

@media (max-width: 400px) {
    .login-agendamento #login {
        display: none;
    }
}

@media (max-width: 300px) {
    .login-agendamento p {
        display: none;
    }
}



