.container-cadastroNutri {
  display: flex;
  height: 100vh;
}

.conteudo-principal-cadastroNutri {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartao-formulario-cadastroNutri {
  background: #fff;
  padding: 80px; 
  border-radius: 10px;
  width: 1100px; 
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.titulo-formulario-cadastroNutri {
  margin-bottom: 40px; 
  font-size: 36px; 
  font-family: "inter";
  font-weight: 700;
  color: #333;
}

.grade-formulario-cadastroNutri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.grupo-formulario-cadastroNutri {
  display: flex;
  flex-direction: column;
}

.grupo-formulario-cadastroNutri label {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px; 
  font-family: "inter";
}

.grupo-formulario-cadastroNutri input {
  padding: 12px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px; 
  font-family: "inter";
}

.full-width {
  grid-column: 1 / -1;
}

.botao-submit-cadastroNutri {
  width: 100%;
  padding: 16px;
  background-color: #A0C71C;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: "inter";
  transition: background-color 0.3s ease;
}

.botao-submit-cadastroNutri:hover {
  background-color: #8fb816;
}
