.container-listaNutri {
    display: flex;
    height: 100vh;
}

.conteudo-principal-listaNutri {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cartao-formulario-listaNutri {
    background-color: #ffffff;
    padding: 50px; 
    border-radius: 10px;
    width: 100%;
    max-width: 1000px; 
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.titulo-formulario-listaNutri {
    font-size: 30px; 
    font-family: "inter";
    margin-bottom: 30px; 
    color: #333;
}

.barra-pesquisa-listaNutri {
    display: flex;
    margin-bottom: 25px; 
}

.campo-input-listaNutri {
    flex: 1;
    padding: 12px 18px; 
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    font-size: 16px; 
    font-family: "inter";
}

.botao-pesquisa-listaNutri {
    padding: 12px 24px; 
    border: none;
    background-color: #A0C71C;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px; 
    font-family: "inter";
}

.botao-pesquisa-listaNutri:hover {
    background-color: #8cab19;
}

.tabela-container-listaNutri {
    overflow-x: auto;
}

.tabela-listaNutri {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.tabela-listaNutri thead {
    background-color: #A0C71C;
    color: white;
}

.tabela-listaNutri th, 
.tabela-listaNutri td {
    padding: 14px 18px; 
    text-align: left;
    border-bottom: 1px solid #eee;
    font-family: "inter";
    font-size: 15px; 
}

.tabela-listaNutri tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-listaNutri tbody tr:hover {
    background-color: #f1f1f1;
}

.delete-button {
  background-color: #e74c3c; /* vermelho */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: "inter";
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.delete-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.delete-button:active {
  background-color: #a93226;
  transform: scale(0.98);
}
