.perfil-content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    font-family: "Inter";
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.perfil-titulo {
    background: linear-gradient(90deg, #8cc43c, #2f5530);
    color: white;
    padding: 16px 24px;
    border-radius: 12px 12px 0 0;
    font-size: 22px;
    font-weight: bold;
}

.perfil-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    border: 2px solid #8cc43c;
}

.bemvindo-texto {
    font-size: 18px;
    font-family: "inter";
    font-weight: 500;
    color: #333;
}

.botoes-perfil {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
}

.btn-perfil, .btn-editar, .btn-upload, .btn-salvar, .btn-cancelar{
    background-color: #8cc43c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-family: "inter";
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-editar {
    background-color: #a7d64b;
}

.btn-upload {
    position: relative;
    overflow: hidden;
}

.btn-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-perfil:hover, .btn-editar:hover, .btn-upload:hover, .btn-salvar:hover {
    background-color: #75b336;
}

.form-perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
    font-family: "inter";
    margin-left: 5px;
}

.campo input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    font-family: "inter";
}

/* Responsivo */
@media (max-width: 768px) {
    .perfil-content {
        padding: 20px;
    }

    .perfil-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-perfil {
        grid-template-columns: 1fr;
    }

    .foto-perfil {
        width: 80px;
        height: 80px;
    }

    .btn-upload, .btn-editar, .btn-perfil, .btn-salvar {
        width: 100%;
    }
}
